#header {
    box-sizing: border-box;
    background: #ccc;
    height: 50px;
  }

#main {
    box-sizing: border-box;
    margin-left: 220px;
    padding: 20px 40px;
  }
#sub {
    box-sizing: border-box;
    top: 56px;
    height: 90%;
    width: 220px;
    position: fixed;
    overflow: auto;
    background: #eee;
    padding: 0px;
}

.box1 {
    border: solid 2px black;
    background: #eee;
    width: 100%;
    /*
    border-radius: 10px;
    */
}


.card-profile {
    width: 700px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .button {
    width: 150px;
  }

  .button {
    margin-left: 33%;
  }

  .btn-left {
    float: left;
    
  }

  .btn-right {
    width: 100%;
    margin-left: 150px;
  }
  
  .btn {
    font-size: 80%;
    border-radius: 5rem;
    font-weight: bold;
  }
  
  .profile_table {
    width: 100%;
    border: 1px solid #d1dbeb;
    border-radius: 8px;
    border-collapse: separate;
    overflow: hidden;
  }
  
  .profile_table .header {
    width: 200px;
    padding: 16px 24px;
    text-align: left;
    background: #f1f5fa;
  }
  
  .profile_table .data {
    padding: 16px 24px;
  }

  .wrapper {
    overflow: hidden;
  }

  left_btn{
    display: flex;
  }