{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- コンテンツ -->
{% block content %}

<div class="container">
    <center>
        <h1 style="color: black">Bookmark Dictionary</h1>
        <br>
        <br>
        <div>
            <h2><a href="{% url 'bookmarkd:add' %}"><span class="btn btn-primary">ブックマーク追加</span></a></h2>
        </div>
        <br>
        <br>
        <form method="get">
            <input type="search" value="{{ request.GET.query }}" 
                name="query" type="text" 
                placeholder=" 検索ワードを入力 ">
            <button>検索</button>
        </form>
        
    </center>
</div>
{% endblock %}